.logo
  %h1 Time tracker
- if current_user
  %ul.nav.nav-tabs.custom-nav
    %li{class: "#{active?(root_path)}"}
      = link_to '', root_path, class: 'glyphicon glyphicon-home'
    = render 'shared/employee_nav_items' if employee?
    = render 'shared/audit_log_tab' if admin?

    %li.dropdown.pull-right
      %a.dropdown-toggle.glyphicon.glyphicon-cog{"data-toggle" => "dropdown", :href => "#"}
        %strong.caret
      %ul.dropdown-menu
        = render 'shared/admin_dropdown' if admin?
        %li
          = link_to 'Log out', destroy_user_session_path, method: :delete
