%tr
  %td
    = post.id
  %td
    = post.date
  %td
    = post.user.full_name
  %td
    = truncate(post.rationale)
  %td
    = link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}"
  %td
    = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete_post_#{post.id}_from_index"