!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Office
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .col-md-12
          = render 'shared/nav'
          = yield
    - if flash[:notice]
      = js add_gritter(flash[:notice], image: :success, nodom_wrap: true, sticky: false)
    - elsif flash[:error]
      = js add_gritter(flash[:notice], image: :error, title: 'Error', nodom_wrap: true, sticky: false)
